@model HCM.Models.AllowancesViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.EditAllowanceText;
}

<script type="text/javascript">

    function OnSuccess() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.SavedDoneAlertText))');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

</script>
<p style="font-size:larger">@Resources.Globalization.EditAllowanceText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                @Resources.Globalization.EditAllowanceDescText
            </div>
            <div class="col-md-3" style="text-align:left">

            </div>
        </div>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Edit", "Allowances", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            HttpMethod = "POST",
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <span class="control-label">@Resources.Globalization.AllowanceBasicInfoText</span><br />
            <table class="table table-responsive table-condensed table-striped">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            @Html.LabelFor(model => model.AllowancesAmountTypes, new { @class = "control-label" })
                            @Html.HiddenFor(model => model.AllowanceID)
                        </td>
                        <td class="col-md-4">
                            @Html.LabelFor(model => model.AllowanceName, new { @class = "control-label" })
                        </td>
                        <td class="col-md-4">
                            @Html.LabelFor(model => model.AllowanceAmount, new { @class = "control-label" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            @Html.DropDownListFor(model => model.AllowanceAmountType.AllowanceAmountTypeID, new SelectList(new HCMBLL.AllowancesAmountTypesBLL().GetAllowancesAmountTypes(), "AllowanceAmountTypeID", "AllowanceAmountTypeName"), new { @id = "ddlAllowancesAmountTypes", @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.AllowanceAmountType, "", new { @class = "text-danger" })
                        </td>
                        <td class="col-md-4">
                            @Html.TextBoxFor(model => model.AllowanceName, new { @class = "form-control", @id = "txtAllowanceName", @type = "string", @value = "" })       @*TxtHijriPicker*@
                            @Html.ValidationMessageFor(model => model.AllowanceName, "", new { @class = "text-danger" })
                        </td>
                        <td class="col-md-4">
                            @Html.TextBoxFor(model => model.AllowanceAmount, new { @class = "form-control", @id = "txtAllowanceAmount", @type = "decimal", @value = "" })
                            @Html.ValidationMessageFor(model => model.AllowanceAmount, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                        </td>
                        <td class="col-md-4"></td>
                        <td class="col-md-4"></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBoxFor(model => model.IsActive)
                        </td>
                        <td class="col-md-4"></td>
                        <td class="col-md-4"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" name="BtnSave" value="@Resources.Globalization.SaveText" />
                                @*<input type="reset" class="btn btn-default" value="@Resources.Globalization.ResetText" />*@
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Index", "Allowances"))
        {
            <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@




