
@{
    ViewBag.Title = @Resources.Globalization.JobAllowanceText;
}

<p>
    @Html.ActionLink(@Resources.Globalization.CreateNewText, "Create")
</p>

<script>

    $(document).ready(function () {

        $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
            console.log(message);
            $("#divAlert").load('@Url.Content("~/Modal/Index/" +  HCM.Classes.Enums.ModalTypes.Failure + "/Error")');
        }

        $("#tblJobsAllowances").DataTable({
            //"destroy":true,
              dom: 'Bfrtip',
            "ajax": {
                "url": "/JobsAllowances/GetJobsAllowances",
                "type": "get",
                "datatype": "json"
            },
             "initComplete": function (settings, json) {
                $(".dt-buttons").addClass("text text-left");
                $(".dt-buttons span").html('@Resources.Globalization.ExportToExcelText');
            },
            "buttons": ['excel'],
            "columns": [
                {
                    "data": "Job.JobName",
                    "autowidth": true
                },
                {
                    "data": "Allowance.AllowanceName",
                    "autowidth": true
                },
                //{
                //    "data": "Allowance.AllowanceAmountType.AllowanceAmountTypeName",
                //    "autowidth": true
                //},
                //{
                //    "data": "Allowance.AllowanceAmount",
                //    "autowidth": true
                //},
                {
                    "data": "IsActive",
                    "autowidth": true,
                    "render": RenderCheckBox
                },
                {
                    "data": "JobAllowanceID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Edit", "JobsAllowances")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-edit" /></a>'
                    }
                },
                {
                    "data": "JobAllowanceID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Delete", "JobsAllowances")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-remove" /></a>'
                    }
                }, 
            ]
        });
    });
     
</script>

<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading ">
        @Resources.Globalization.SearchJobAllowanceDescText
    </div>
    <div class="panel-body">
        <table id="tblJobsAllowances" class="table table-responsive table-hover">
            <thead>
                <tr> 
                    <td>@Resources.Globalization.JobNameText</td>
                    <td>@Resources.Globalization.AllowanceNameText</td> 
                    @*<td>@Resources.Globalization.AllowanceAmountTypeText</td> 
                    <td>@Resources.Globalization.AllowanceAmountText</td>*@ 
                    <td>@Resources.Globalization.IsActiveText</td> 
                    <td></td>
                    <td></td> 
                </tr>
            </thead>
        </table>
    </div>
</div>
