@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsCreatePermission = new HCM.Classes.Helpers.PSAHelper().IsUpdatePermission(Request.Url.ToString());
    bool IsUpdatePermission = new HCM.Classes.Helpers.PSAHelper().IsUpdatePermission(Request.Url.ToString());
    bool IsDeletePermission = new HCM.Classes.Helpers.PSAHelper().IsUpdatePermission(Request.Url.ToString());
}

<script type="text/javascript">

    var LocalEmployeeCodeID = 0;
    $(document).ready(function () {

        GetCareerHistoryTypes();
        GetCareerDegrees();
        //$("#OpenOrganizationsJobsPopup").click(function () {
        //    ShowModal("#divOrganizationsJobsModal");
        //});


        $("#btnSave").click(function () {
            var ObjToPassForAdd =
            {
                EmployeeCodeID: LocalEmployeeCodeID,
                EmployeeCareerHistoryID: $('#hdnFldEmployeeCareerHistoryID').val(),
                CareerDegreeID: $('#ddlCareersDegrees').val(),
                CareerHistoryTypeID: $('#ddlCareersHistoryTypes').val(),
                JoinDate: $('#txtJoinDate').val(),
                OrganizationJobID: $('#hdnFldOrganizationJobID').val(),
            };

            $.ajax({
                type: "POST"
                //, dataType: "json"  :  if you pass 'dataType: "json"' then there is always parseerror from .ajax call and return type is 'HttpResponseMessage'
                , contentType: "application/json; charset=utf-8"
                , url: "@Url.Content("~/CareerHistory/Save")"
                , data: JSON.stringify(ObjToPassForAdd)
                , success: function () {
                    OnSuccess();
                }
            , error: function (xhr, status, error) {
                OnFailure();
            }
            });
        });

    });

    function OpenOrganizationsJobsModalToCreate() {
        ResetOrganizationJob();
        $("#hdnFldEmployeeCareerHistoryID").val(0);
        $("#txtJoinDate").val('');
        $("#ddlCareersHistoryTypes").val('');
        $("#ddlCareersDegrees").val('');
        ShowModal("#divOrganizationsJobsModal");
    }

    function OnSuccess() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, HCM.Classes.Enums.ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.SavedDoneAlertText),"OkFunction")');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, HCM.Classes.Enums.ModalTypes.Failure, "Error"))');
    }

    function OkFunction() {
        //DestroyModal("#divOrganizationsJobsModal");
        BindCareerHistory(LocalEmployeeCodeID);
    }

    function BindCareerHistory(EmployeeCodeID) {
        $('#tblCareerHistory').DataTable({
            "autoWidth": false,
            "ordering": false,
            "ajax": {
                "url": "/Employees/GetCareerHistoryByEmployeeCodeID",
                "type": "get",
                "data": { id: EmployeeCodeID },
                "datatype": "json"
            },            
            "columns": [
                {
                    "data": "CareerHistoryType.CareerHistoryTypeName",
                    "autoWidth": false,
                },
                {
                    "data": "OrganizationJob.OrganizationStructure.OrganizationName",
                    "autoWidth": false,
                },
                {
                    "data": "OrganizationJob.Rank.RankName",
                    "autoWidth": false
                },
                {
                    "data": "OrganizationJob.Job.JobName",
                    "autoWidth": false
                },
                {
                    "data": "OrganizationJob.JobNo",
                    "autoWidth": false
                },
                {
                    "data": "CareerDegree.CareerDegreeName",
                    "autoWidth": false
                },
                {
                    "data": "JoinDate",
                    "autoWidth": false,
                    "render": RenderDate
                },
                {
                    "data": "IsActive",
                    "autowidth": false,
                    "render": RenderCheckBox
                },
                {
                    "data": "OrganizationJob.OrganizationJobID",
                    "autowidth": false,
                    "visible": '@IsUpdatePermission' == 'False' ? false : true,
                    "render": function (data, type, row) {
                        var hh = "divOrganizationsJobsModal";
                        var lnk = '<a onClick="ShowJobInfo(' + row.EmployeeCareerHistoryID + ',' + row.JoinDate.replace(/\/Date\((.*?)\)\//gi, "$1") + ', ' + '\'' + row.OrganizationJob.JobNo + '\'' + ', ' + '\'' + row.OrganizationJob.OrganizationStructure.OrganizationName + '\'' + ', ' + '\'' + row.OrganizationJob.Job.JobName + '\'' + ', ' + '\'' + row.OrganizationJob.Rank.RankName + '\'' + ', ' + row.OrganizationJob.OrganizationJobID + ', ' + row.CareerHistoryType.CareerHistoryTypeID + ', ' + row.CareerDegree.CareerDegreeID + ')"><span class="glyphicon glyphicon-edit" /></a>';
                        //console.log('IsUpdatePermission', '@IsUpdatePermission');
                        return lnk ;
                    }
                },
            ],
            destroy: true,
        });

    }
     
    function ShowJobInfo(EmployeeCareerHistoryID, JoinDate, JobNo, OrganizationName, JobName, RankName, OrganizationJobID, CareerHistoryTypeID, CareerDegreeID) {
        $("#hdnFldEmployeeCareerHistoryID").val(EmployeeCareerHistoryID);
        $("#txtJoinDate").val(RenderDate(JoinDate));
        $("#ddlCareersHistoryTypes").val(CareerHistoryTypeID);
        $("#ddlCareersDegrees").val(CareerDegreeID);
        $("#hdnFldOrganizationJobID").val(OrganizationJobID);
        $("#txtJobName").val(JobName);
        $("#txtOrganizationName").val(OrganizationName);
        $("#txtJobNo").val(JobNo);
        $("#txtRankName").val(RankName);

        ShowModal("#divOrganizationsJobsModal");
    }

    function GetCareerHistoryTypes() {
        $.ajax({
            type: "get"
            , dataType: "json"
            , url: "/CareerHistory/GetCareersHistoryTypes"
            , success: function (d) {
                $("#ddlCareersHistoryTypes").html("");
                var types = d.data;
                $.each(types, function (i, type) {
                    $("#ddlCareersHistoryTypes").append($('<option></option>').val(type.CareerHistoryTypeID).html(type.CareerHistoryTypeName));
                });
            }
            , error: function (xhr, status, error) {
                alert(error.message);
            }
        });
    }

    function GetCareerDegrees() {
        $.ajax({
            type: "get"
           , dataType: "json"
           , url: "/CareerHistory/GetCareersDegrees"
           , success: function (d) {
               $("#ddlCareersDegrees").html("");
               var types = d.data;
               $.each(types, function (i, type) {
                   $("#ddlCareersDegrees").append($('<option></option>').val(type.CareerDegreeID).html(type.CareerDegreeName));
               });
           }
           , error: function (xhr, status, error) {
               alert(error.message);
           }
        });
    }

    function closeEmployeesPopup(EmployeeCodeID) {
        LocalEmployeeCodeID = EmployeeCodeID;
        GetEmployeeData(EmployeeCodeID);
        BindCareerHistory(EmployeeCodeID);
    }

</script>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        <span class="control-label">@Resources.Globalization.EmployeesText</span>
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Shared/_EmployeesPopup.cshtml", new HCM.Models.EmployeesViewModel() { })
    </div>
</div>

<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        <span class="control-label">@Resources.Globalization.CareerHistoryText</span>
    </div>
    <div class="panel-body">
        @if (IsCreatePermission)
        { 
            <a onclick="OpenOrganizationsJobsModalToCreate();">@Resources.Globalization.CreateNewText</a>
            <br />
        }
        <table id="tblCareerHistory" class="table table-responsive table-hover dataTable" style="width:100%">
            <thead>
                <tr>
                    <td>@Resources.Globalization.CareerHistoryTypeNameText</td>
                    <td>@Resources.Globalization.OrganizationNameText</td>
                    <td>@Resources.Globalization.RankText</td>
                    <td>@Resources.Globalization.JobNameText</td>
                    <td>@Resources.Globalization.JobNoText</td>
                    <td>@Resources.Globalization.CareerDegreeNameText</td>
                    <td>@Resources.Globalization.JoinDateText</td>
                    <td>@Resources.Globalization.IsCurrentCareerHistoryText</td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="divOrganizationsJobsModal">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <div style="float:left">
                    <button data-dismiss="modal" class="close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-responsive table-hover table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <td class="col-md-4">
                                <label class="control-label">@Resources.Globalization.CareerHistoryTypeNameText</label>
                            </td>
                            <td class="col-md-4">
                                <label class="control-label">@Resources.Globalization.CareerDegreeNameText</label>
                            </td>
                            <td class="col-md-4">
                                <label class="control-label">@Resources.Globalization.JoinDateText</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <select id="ddlCareersHistoryTypes" style="width:100%"></select>
                            </td>
                            <td class="col-md-4">
                                <select id="ddlCareersDegrees" style="width:100%"></select>
                            </td>
                            <td class="col-md-4">
                                <input id="txtJoinDate" type="text" class="form-control TxtHijriPicker">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                @Html.Partial("~/Views/Shared/_OrganizationsJobsPopup.cshtml", new HCM.Models.OrganizationsJobsViewModel() { })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4"></td>
                            <td class="col-md-4"></td>
                            <td class="col-md-4">
                                <input type="button" id="btnSave" value="@Resources.Globalization.SaveText" class="btn btn-default" />
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer" style="margin:0">
                <button class="btn btn-default" data-dismiss="modal">@Resources.Globalization.CloseText</button>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@




