@model HCM.Models.EmployeesAllowancesViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.DeleteEmployeeAllowanceText;
}
<script type="text/javascript">

    function OkFunction() {
        window.location.href = "/EmployeesAllowances/Index";
    }

    $(document).ready(function () {
        BindEmployeeAllowanceEmployees();
        $("#BtnDelete").confirm({
            animation: 'zoom',
            content: '@Resources.Globalization.DeleteCofirmationMessageText',
            title: '@Resources.Globalization.CofirmationMessageTitle',
            buttons: {
                confirm: {
                    action: function () { $("#BtnDelete").submit(); },
                    btnClass: 'btn-blue',
                    text: '@Resources.Globalization.ConfirmButtonText',
                },
                cancel: {
                    action: function () { },
                    text: '@Resources.Globalization.CancelButtonText',
                },
            },
        });

         
    });

    function OnSuccess() {
        //alert('OnSuccess');
        $("#BtnDelete").attr("disabled", "disabled");
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.DeletedDoneAlertText),"OkFunction")');
    }

    function OnFailure() {
        //alert('OnFailure');
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

</script>
<p style="font-size:larger">@Resources.Globalization.DeleteEmployeeAllowanceText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        @Resources.Globalization.DeleteEmployeeAllowanceDescText
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Delete", "EmployeesAllowances", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "DELETE",
        }))
        {
            @Html.AntiForgeryToken()
            <span class="control-label">@Resources.Globalization.EmployeeAllowanceBasicInfoText</span>
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.AllowanceStartDate, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.AllowanceStartDate) 
                            @Html.HiddenFor(model => model.EmployeeAllowanceID)
                        </td>
                    </tr> 
                </tbody>
            </table>
            
            <span class="control-label">@Resources.Globalization.EmployeesText</span> 
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.Label(@Resources.Globalization.EmployeeCodeNoText, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.EmployeeCareersHistory.EmployeeCode.EmployeeCodeNo)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">                            
                            @Html.Label(@Resources.Globalization.EmployeeNameArText, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.EmployeeCareersHistory.EmployeeCode.Employee.EmployeeNameAr)
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <span class="control-label">@Resources.Globalization.AllowanceText</span>
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.Label(@Resources.Globalization.AllowanceNameText, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.Allowance.AllowanceName)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">                            
                            @Html.Label(@Resources.Globalization.AllowanceAmountTypeText, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.Allowance.AllowanceAmountType.AllowanceAmountTypeName)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.Label(@Resources.Globalization.AllowanceAmountText, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.Allowance.AllowanceAmount)
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" id="BtnDelete" name="BtnDelete" value="@Resources.Globalization.DeleteText" />
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Index", "EmployeesAllowances"))
        {
            <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
