@model HCM.Models.ScholarshipsViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.DeleteEmployeeScholarText;
}
<script type="text/javascript">

    function OkFunction() {
        window.location.href = "/Scholarships/Index";
    }

    $(document).ready(function () {
        $("#BtnDelete").confirm({
            animation: 'zoom',
            content: '@Resources.Globalization.DeleteCofirmationMessageText',
            title: '@Resources.Globalization.CofirmationMessageTitle',
            buttons: {
                confirm: {
                    action: function () { $("#BtnDelete").submit(); },
                    btnClass: 'btn-blue',
                    text: '@Resources.Globalization.ConfirmButtonText',
                },
                cancel: {
                    action: function () { },
                    text: '@Resources.Globalization.CancelButtonText',
                },
            },
        });


        var ScholarshipType = '@Model.ScholarshipType.ScholarshipTypeID';
        if (ScholarshipType == '@Convert.ToInt32(ScholarshipsTypesEnum.Individual)') {
                $('.internalTraining').hide();
                $('.externalTraining').hide();
                $('.individual').show();
            }
            else if (ScholarshipType == '@Convert.ToInt32(ScholarshipsTypesEnum.Training)') {
                $('.individual').hide();
                $('.externalTraining').hide();
                $('.internalTraining').show();
            }
            else if (ScholarshipType == '@Convert.ToInt32(ScholarshipsTypesEnum.ExternalTraining)') {
                $('.individual').hide();
                $('.internalTraining').hide();
                $('.externalTraining').show();
            }

    });

    function OnSuccess() {
        $("#BtnDelete").attr("disabled", "disabled");
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.DeletedDoneAlertText),"OkFunction")');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

</script>
<p style="font-size:larger">@Resources.Globalization.DeleteEmployeeScholarText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        @Resources.Globalization.DeleteEmployeeScholarDescText
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Delete", "Scholarships", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "DELETE",
        }))
        {
            @Html.AntiForgeryToken() 
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.ScholarshipType, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.ScholarshipType.ScholarshipType)
                            @Html.HiddenFor(model => model.ScholarshipType.ScholarshipTypeID)
                            @Html.HiddenFor(model => model.ScholarshipID)
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.ScholarshipStartDate, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.ScholarshipStartDate)
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.ScholarshipPeriod, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.ScholarshipPeriod)
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.ScholarshipEndDate, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.ScholarshipEndDate)
                        </td>
                        <td></td>
                    </tr>
                    <tr class="individual internalTraining">
                        <td>
                            @Html.LabelFor(model => model.Location, new { @class = "control-label" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Location, new { @class = "form-control", @id = "txtIndividualLocation" })
                        </td>
                    </tr> 
                    <tr class="externalTraining">
                        <td>
                            @Html.LabelFor(model => model.Country, new { @class = "control-label" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Country, new { @class = "form-control", @id = "txtIndividualLocation" })
                        </td>
                    </tr> 
                    <tr class="individual externalTraining">
                        <td>
                            @Html.LabelFor(model => model.QualificationsDegrees, new { @class = "control-label" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.QualificationDegree.QualificationDegreeName, new { @id = "ddlQualificationDegree", @style = "width:100%", @onchange = "GetQualificationsByDegree()" })
                        </td>
                    </tr>
                    <tr class="individual externalTraining">
                        <td>
                            @Html.LabelFor(model => model.Qualifications, new { @class = "control-label" })
                        </td> 
                        <td>
                            @Html.DisplayFor(model => model.Qualification.QualificationName, new { @id = "ddlQualification", @style = "width:100%" })
                        </td> 
                    </tr>
                </tbody>
            </table> 
            <span class="control-label">@Resources.Globalization.EmployeesText</span>
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.Employee.EmployeeCodeNo, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.Employee.EmployeeCodeNo)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.Employee.EmployeeNameAr, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.Employee.EmployeeNameAr)
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" id="BtnDelete" name="BtnDelete" value="@Resources.Globalization.DeleteText" />
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Index", "Scholarships"))
        {
        <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
