
<p>
    @Html.ActionLink(@Resources.Globalization.CreateNewText, "Create")
</p>

<script>
    
    function ResizeModal(h) {
       
    }

    function PrintScholarship(ScholarshipID) {
        var iframe = $("#divReportModal .modal-body #iframeReportContent");
        iframe.attr('src', '@Url.Content("~/Scholarships/PrintScholarship/")' + ScholarshipID);
        ShowModal("#divReportModal");
    }

    $(document).ready(function () {

        $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
            $("#divAlert").load('@Url.Content("~/Modal/Index/" +  HCM.Classes.Enums.ModalTypes.Failure + "/Error")');
        }

        $("#tblEmployeeScholarship").DataTable({
            //"destroy":true,
            "ajax": {
                "url": "/Scholarships/GetScholarships",
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                {
                        "data": "ScholarshipID",
                        "autowidth": true
                },
                {
                    "data": "Employee.EmployeeCodeNo",
                    "autowidth": true
                },
                {
                    "data": "Employee.Employee.EmployeeNameAr",
                    "autowidth": true
                },
                {
                    "data": "ScholarshipType.ScholarshipType",
                    "autowidth": true 
                },
                {
                    "data": "ScholarshipStartDate",
                    "autowidth": true,
                    "render": RenderDate
                },
                {
                    "data": "ScholarshipEndDate",
                    "autowidth": true,
                    "render": RenderDate
                }, 
                {
                    "data": "ScholarshipID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Edit", "Scholarships")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-edit" /></a>'
                    }
                },
                {
                    "data": "ScholarshipID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Delete", "Scholarships")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-remove" /></a>'
                    }
                },
                {
                    "data": "ScholarshipID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = 'PrintScholarship(' + data + ');';
                        return '<a onclick="' + Url + '"><span Class="glyphicon glyphicon-print" /></a>'
                    }
                },
            ]
        });
    });
</script>

<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading ">
        @Resources.Globalization.SearchEmployeeScholarshipDescText
    </div>
    <div class="panel-body">
        <table id="tblEmployeeScholarship" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <td>@Resources.Globalization.SequenceNoText</td>
                    <td>@Resources.Globalization.EmployeeCodeNoText</td>
                    <td>@Resources.Globalization.EmployeeNameArText</td>
                    <td>@Resources.Globalization.ScholarshipTypeText</td>
                    <td>@Resources.Globalization.ScholarshipStartDateText</td>
                    <td>@Resources.Globalization.ScholarshipEndDateText</td>  
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>


