@{
    ViewBag.Title = Resources.Globalization.PromotionsPeriodsText;
}
<script>
    $(document).ready(function () {

        $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
            $("#divAlert").load('@Url.Content("~/Modal/Index/" +  HCM.Classes.Enums.ModalTypes.Failure + "/Error")');
        }

        $("#tblPromotionsPeriods").DataTable({
            //"destroy":true,
             dom: 'Bfrtip',
            "ajax": {
                "url": "/PromotionsPeriods/GetPromotionsPeriods",
                "type": "get",
                "datatype": "json",
            },
             "initComplete": function (settings, json) {
                $(".dt-buttons").addClass("text text-left");
                $(".dt-buttons span").html('@Resources.Globalization.ExportToExcelText');
            },
            "buttons": ['excel'],
            "columns": [
                //{
                //    "data": "PromotionPeriodID",
                //    "autowidth": true
                //},
                {
                     "data": "Year.MaturityYear",
                     "autowidth": true
                },
                {
                    "data": "Period.PeriodName",
                    "autowidth": true
                },
                {
                    "data": "PromotionStartDate",
                    "autowidth": true,
                    "render": RenderDate
                },
                {
                    "data": "PromotionEndDate",
                    "autowidth": true,
                    "render": RenderDate
                },
                {
                    "data": "IsActive",
                    "autowidth": true,
                    "render": RenderCheckBox
                },
                {
                    "data": "CreatedBy",
                    "autowidth": true
                },
                {
                    "data": "CreatedDate",
                    "autowidth": true,
                    "render": RenderDateTime
                },
                 {
                     "data": "PromotionPeriodID",
                     "autowidth": true,
                     "render": function (data, type, row) {
                         Url = '@Url.Action("Edit", "PromotionsPeriods")' + "/" + data;
                         return '<a href="' + Url + '"><span Class="glyphicon glyphicon-edit"  title="' + '@Resources.Globalization.UpdatingText' + '"/></a>'
                     }
                 },
                {
                    "data": "PromotionPeriodID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Delete", "PromotionsPeriods")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-remove" title="' + '@Resources.Globalization.DeleteText' + '"/></a>'
                    }
                },
                {
                    "data": "PromotionPeriodID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Manage", "PromotionCardsPrinting")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-file" title="' + '@Resources.Globalization.PrintPromotionCardText' + '"/></a>'
                    }
                },
                 {
                     "data": "PromotionPeriodID",
                     "autowidth": true,
                     "render": function (data, type, row) {
                         Url = '@Url.Action("InformationCardForPromotionConfirmed", "PromotionsPeriods")' + "/" + data;
                         return '<a href="' + Url + '"><span Class="glyphicon glyphicon-user"  title="' + '@Resources.Globalization.EmployeeConfirmedInformationCardForPromotionText' + '"/></a>'
                     }
                 },
            ]
        });
    });
</script>
<p>
    @Html.ActionLink(@Resources.Globalization.CreateNewText, "Create")
</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading ">
        @Resources.Globalization.SearchPromotionsRecordsDescText
    </div>
    <div class="panel-body">
        <table id="tblPromotionsPeriods" class="table table-responsive table-hover dataTable">
            <thead>
                <tr>
                    <td>@Resources.Globalization.YearText</td>
                    <td>@Resources.Globalization.PromotionPeriodNameText</td>
                    <td>@Resources.Globalization.PromotionStartDateText</td>
                    <td>@Resources.Globalization.PromotionEndDateText</td>
                    <td>@Resources.Globalization.IsActiveText</td>
                    <td>@Resources.Globalization.CreatedByText</td>
                    <td>@Resources.Globalization.CreatedDateText</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>



