@model HCM.Models.DelegationsViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.ApproveText;
}
<script type="text/javascript">
    var IsNotExistConfirm = false;
    function OkFunction() {
        window.location.href = "/Approvals/DelegationApproval";
    }

    $(document).ready(function () {
        ButtonEnable(false);
        $("#txtDelegationID").on('change', function () {
            if ($("#txtDelegationID").val() != '') {
                $.ajax({
                    type: "POST"
                        , dataType: "json"
                        , contentType: "application/json; charset=utf-8"
                        , url: "/Delegations/GetDelegationByDelegationID"
                        , data: "{ 'DelegationID' : '" + $("#txtDelegationID").val() +
                                "'}"
                        , success: function (data) {
                            if (data.DelegationID != 0) {
                                $("#hdnFldDelegationID").val(data.DelegationID);
                                $("#txtDelegationsTypes").text(data.DelegationType.DelegationTypeName);
                                $("#txtDelegationKindName").text(data.DelegationKind.DelegationKindName);
                                $("#txtDelegationStartDate").text(RenderDate(data.DelegationStartDate));
                                $("#txtDelegationEndDate").text(RenderDate(data.DelegationEndDate));
                                $("#txtDelegationPeriod").text(data.DelegationPeriod);
                                $("#txtDelegationDistancePeriod").text(data.DelegationDistancePeriod);
                                $("#txtDelegationReason").text(data.DelegationReason);
                                if (data.KSARegion != null) {
                                    $("#txtKSARegionName").text(data.KSARegion.KSARegionName);
                                }
                                if (data.KSACity != null) {
                                    $("#txtKSACityName").text(data.KSACity.KSACityName);
                                }
                                if (data.Country != null) {
                                    $("#txtCountryName").text(data.Country.CountryName);
                                }
                                $("#chkIsApprove").prop('checked', data.IsApprove);
                                BindDelegationEmployees(data.DelegationID);
                                ButtonEnable(true);
                            }
                            else {
                                Reset();
                                $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Notice, Globals.Utilities.RemoveSpace(@Resources.Globalization.NoDelegationFoundText))');
                            }
                        }
                        , error: function (jqXHR, exception) {
                            $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
                        }
                });
            }
        });
    });

    function OnSuccess() {
        $("#BtnApprove").attr("disabled", "disabled");
  
        if ($('#chkIsApprove').is(':checked'))
        {
            $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.ApproveCancelDelegationDoneAlertText),"OkFunction")');
        }
        else
        {
            $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.ApproveDelegationDoneAlertText), "OkFunction")');
        }

    } 
    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }
    function BindDelegationEmployees(DelegationID) {
        if (DelegationID != 0) {
            $("#tblDelegationEmployees").DataTable({
                destroy: true,
                "searching": false,
                "ordering": false,
                "paging": false,
                "ajax": {
                    "url": "/Delegations/GetDelegationEmployeesByDelegationID/" + DelegationID,
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "EmployeeCareerHistory.EmployeeCode.EmployeeCodeNo",
                        "autowidth": true
                    },
                    {
                        "data": "EmployeeCareerHistory.EmployeeCode.Employee.EmployeeNameAr",
                        "autowidth": true
                    },
                    {
                        "data": "IsPassengerOrderCompensation",
                        "render": RenderCheckBox,
                        "autowidth": true,
                    }
                ]
            });
        }
        else {
            $("#tblDelegationEmployees").DataTable().clear().draw();
        }
    }
    function Reset()
    {
        $("#hdnFldDelegationID").val('');
        $("#txtDelegationsTypes").text('');
        $("#txtDelegationKindName").text('');
        $("#txtDelegationStartDate").text('');
        $("#txtDelegationEndDate").text('');
        $("#txtDelegationPeriod").text('');
        $("#txtDelegationDistancePeriod").text('');
        $("#txtDelegationReason").text('');
        $("#txtKSARegionName").text('');
        $("#txtKSACityName").text('');
        $("#txtCountryName").text('');
        ButtonEnable(false);
        BindDelegationEmployees(0);
    }
    function ButtonEnable(enable)
    {
        $(':input[type="submit"]').prop('disabled', !enable);
    }
</script>
<p style="font-size:larger">@Resources.Globalization.ApproveText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        @Resources.Globalization.ApproveDelegationDescText
    </div>
    <div class="panel-body">

        <span class="control-label">@Resources.Globalization.DelegationBasicInfoText</span>
        <form id="DelegationDetailsForm">
            <table class="table table-responsive table-condensed">
                <tbody>

                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">رقم القرار</label>
                        </td>
                        <td class="col-md-10">
                            <input type="number" id="txtDelegationID" class="form-control" maxlength="9" width="30" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.DelegationTypeText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtDelegationsTypes"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.DelegationKindText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtDelegationKindName"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.DelegationStartDateText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtDelegationStartDate"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.DelegationEndDateText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtDelegationEndDate"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.DelegationPeriodText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtDelegationPeriod"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.DelegationDistancePeriodText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtDelegationDistancePeriod"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.DelegationReasonText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtDelegationReason"></label>
                        </td>
                    </tr>
                    <tr class="internal">
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.KSARegionText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtKSARegionName"></label>
                        </td>
                    </tr>
                    <tr class="internal">
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.KSACitiesText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtKSACityName"></label>
                        </td>
                    </tr>
                    <tr class="external">
                        <td class="col-md-2">
                            <label class="control-label">@Resources.Globalization.CountryText</label>
                        </td>
                        <td class="col-md-10">
                            <label id="txtCountryName"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">@Resources.Globalization.ApproveText</label>
                        </td>
                        <td>
                            <input type="checkbox" id="chkIsApprove" disabled="disabled"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <span class="control-label">@Resources.Globalization.EmployeesText</span>
        <table id="tblDelegationEmployees" class="table table-responsive table-hover" width="100%">
            <thead>
                <tr>
                    <td>@Resources.Globalization.EmployeeCodeNoText</td>
                    <td>@Resources.Globalization.EmployeeNameArText</td>
                    <td>@Resources.Globalization.IsPassengerOrderCompensation؟</td>
                    <td></td>
                </tr>
            </thead>
        </table>
        <table class="table table-responsive table-condensed">
            <tr>
                <td>
                    <div class="form-group">
                        <center>
                            @using (Ajax.BeginForm("DelegationApproval", "Approvals", new AjaxOptions()
                            {
                                OnSuccess = "OnSuccess",
                                OnFailure = "OnFailure",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Post",
                            }, new { @id = "DelegationApprovalForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-default" id="BtnApprove" name="BtnType" value="Approve">@Resources.Globalization.ApproveText</button>
                                @Html.HiddenFor(model => model.DelegationID, new { @id = "hdnFldDelegationID" })
                                <button type="submit" class="btn btn-default" id="BtnApproveCancel" name="BtnType" value="ApproveCancel">@Resources.Globalization.ApproveCancelText</button>
                            }
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
