@model HCM.Models.ReportPromotionRecordsByPromotionPeriodViewModel
@using HCM.Classes.Enums
@using HCMBLL
@using System.Configuration

@{
    ViewBag.Title = @Resources.Globalization.ReportPromotionRecordsByPromotionPeriodText;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {

    });

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

    function Print() {

        var iframe = $("#divReportModal .modal-body #iframeReportContent");
        iframe.attr('src', '@Url.Content("~/Reports/SickVacationsPaidAmount")');
        ShowModal("#divReportModal");

    }
</script>

<div class="panel panel-default" style="padding:0">
    <div class="panel-heading">
        @Resources.Globalization.ReportSickVacationsPaidAmountText
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("ReportSickVacationsPaidAmount", "Report", new AjaxOptions()
        {
            OnFailure = "OnFailure",
            HttpMethod = "POST",
        }))
        {
            @Html.ValidationSummary()
    
        }  <input type="submit" value='@Resources.Globalization.ReportViewText' class="btn btn-primary" onclick="Print()">
    </div>
</div>

