@model HCM.Models.HolidaysSettingsViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.EditHolidaySettingText;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtHolidaySettingPeriod').on('change', function (event) {
            GetHolidaySettingEndDate();
        });
        $('#txtHolidaySettingStartDate').calendarsPicker({
            calendar: jQuery.calendars.instance('ummalqura', 'ar'),
            dateFormat: 'yyyy-mm-dd',
            minDate: '@Model.MaturityYearBalance.MaturityYear-1-1',
            maxDate: '@Model.MaturityYearBalance.MaturityYear-12-29'

        });
    });
    //--===== start help function
    function GetHolidaySettingEndDate() {
        var HolidaySettingStartDate = $("#txtHolidaySettingStartDate").val();
        var HolidaySettingPeriod = $("#txtHolidaySettingPeriod").val();
        if (HolidaySettingStartDate != '' && HolidaySettingPeriod != '') {
            $.ajax({
                type: "POST"
                , url: "@Url.Content("~/HolidaySetting/GetHolidaySettingEndDate/")" + HolidaySettingPeriod + "/" + HolidaySettingStartDate
                , success: function (d) {
                    $('#txtHolidaySettingEndDate').val(d.data);
                }
                , error: function (xhr, status, error) {
                    AddingFailure();
                }
        });
    }
    else
            $('#txtHolidaySettingEndDate').val('');
    }
    //--===== end help function
    function OnSuccess() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.SavedDoneAlertText),"OkFunction")');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

    function AddingSuccess() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.AddingDoneText))');
        ResetEmployeeData();
    }

 

    function closeEmployeesPopup(EmployeeCodeID) {
        GetEmployeeData(EmployeeCodeID);
    }
 

</script>
<p style="font-size:larger">@Resources.Globalization.EditHolidaySettingText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                @Resources.Globalization.EditHolidaySettingDescText
            </div>
            <div class="col-md-3" style="text-align:left">
            </div>
        </div>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Edit", "HolidaysSettings", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            HttpMethod = "POST",
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <span class="control-label">@Resources.Globalization.HolidaySettingBasicInfoText</span><br />
            <table class="table table-responsive table-condensed table-striped">
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(model => model.HolidaySettingStartDate, new { @class = "control-label" })</td>
                        <td>@Html.LabelFor(model => model.HolidaySettingPeriod, new { @class = "control-label" })</td>
                        <td>@Html.LabelFor(model => model.HolidaySettingEndDate, new { @class = "control-label" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.HolidaySettingStartDate, new 
                       { 
                           @class = "form-control",
                           @id = "txtHolidaySettingStartDate",
                           @readonly = "readonly",
                           @Value = Model.HolidaySettingStartDate.Value.ToString(@System.Configuration.ConfigurationManager.AppSettings["DateFormat"]),
                           @onClick = "SetSelectedHijri();" 
                       })
                            @Html.ValidationMessageFor(model => model.HolidaySettingStartDate, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*<input type="number" id="txtHolidaySettingPeriod" min="1" class="form-control" />*@
                            @Html.TextBoxFor(model => model.HolidaySettingPeriod, new { @class = "form-control", @id = "txtHolidaySettingPeriod", @type = "number" })
                            @Html.HiddenFor(model => model.HolidaySettingID)
                        </td>
                        <td>
                       
                            @Html.TextBoxFor(model => model.HolidaySettingEndDate, new
                                                                       {
                                                                           @class = "form-control",
                                                                           @id = "txtHolidaySettingEndDate",
                                                                           @readonly = "readonly",
                                                                           @Value = ((DateTime)Model.HolidaySettingEndDate).ToString(@System.Configuration.ConfigurationManager.AppSettings["DateFormat"])
                                                                       })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.MaturityYearBalance, new { @class = "control-label" })</td>
                        <td>@Html.LabelFor(model => model.HolidayType, new { @class = "control-label" })</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.MaturityYearBalance.MaturityYear)
                            @Html.HiddenFor(model => model.MaturityYearBalance.MaturityYearID)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.HolidayType.HolidayTypeID, new SelectList(new HCMBLL.HolidaysTypesBLL().GetHolidaysTypes(), "HolidayTypeID", "HolidayTypeName"), new { @id = "ddlHolidayType", @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.HolidayType, "", new { @class = "text-danger" })
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" name="BtnSave" value="@Resources.Globalization.SaveText" />
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Details/" + @Model.MaturityYearBalance.MaturityYearID, "YearsSettings"))
        {
            <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

