@model HCM.Models.ScholarshipsViewModel

<script type="text/javascript">

    $(document).ready(function () {
        BindScholarshipDetails();
    });

    function PrintScholarshipAction(ScholarshipDetailID) {
        var iframe = $("#divReportModal .modal-body #iframeReportContent");
        iframe.attr('src', '@Url.Content("~/Scholarships/PrintScholarshipAction/")' + ScholarshipDetailID);
        ShowModal("#divReportModal");
    }

    function RemoveScholarship(ScholarshipDetailID) {

        $.confirm({
            title: '@Resources.Globalization.CofirmationMessageTitle',
            content: '@Resources.Globalization.ScholarshipDeleteCofirmationMessageText',
            animation: 'zoom',
            boxWidth: '280px',
            useBootstrap: false,
            buttons: {
                confirm: {
                    action: function () {
                        $.ajax({
                            type: 'POST',
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            url: "@Url.Content("~/Scholarships/DeleteScholarshipByScholarshipDetailID/")" + ScholarshipDetailID,
                            success: function (result) {
                                BindScholarshipDetails();
                                $("#divAlert").load('@RazorHelper.ShowAlert(this, HCM.Classes.Enums.ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.DeletedDoneAlertText))');
                            },
                            error: function (xhr, status, error) {
                                $("#divAlert").load('@RazorHelper.ShowAlert(this, HCM.Classes.Enums.ModalTypes.Failure, "Error"))');
                            }
                        });
                    },
                    btnClass: 'btn-blue',
                    text: '@Resources.Globalization.ConfirmButtonText',
                },
                cancel: {
                    action: function () { },
                    text: '@Resources.Globalization.CancelButtonText',
                },
            },
        });

    }

    function BindScholarshipDetails() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            url: "@Url.Content("~/Scholarships/GetEmployeeScholarshipsDetailsByScholarshipID/")" + '@Model.ScholarshipID',
            success: function (result) {
                $("#tblScholarshipDetails").DataTable({
                    "destroy": true,
                    "searching": false,
                    "ordering": false,
                    "paging": false,
                    "drawCallback": function (row) {
                        // only we are going to show remove button in the last record in datatable
                        $('#tblScholarshipDetails tbody tr').each(function () {
                            var btnRemove = $("#btnRemove", this);
                            var table = $("#tblScholarshipDetails").DataTable()
                            if (table.row(this).index() != table.rows().count() - 1) {
                                btnRemove.addClass('hide');
                            }
                        })
                    },
                    "data": result.data,
                    "columns": [
                        {
                            "data": "ScholarshipActionName",
                            "autowidth": false
                        },
                        {
                            "data": "FromDate",
                            "autowidth": false,
                            "render": RenderDate
                        },
                        {
                            "data": "ScholarshipPeriod",
                            "autowidth": false,
                        },
                        {
                            "data": "ToDate",
                            "autowidth": false,
                            "render": RenderDate
                        },
                        {
                             "data": "Notes",
                             "autowidth": false,
                        },
                        {
                            "data": "CreatedBy",
                            "autowidth": false,
                        },
                        {
                            "data": "CreatedDate",
                            "autowidth": false,
                            "render": RenderDateTime
                        },
                        {
                            "data": "ScholarshipDetailID",
                            "autowidth": true,
                            "render": function (data, type, row) {
                                Url = 'PrintScholarshipAction(' + data + ');';
                                return '<a onclick="' + Url + '"><span Class="glyphicon glyphicon-print" title="' + '@Resources.Globalization.PrintText' + '"/></a>'
                            }
                        },
                        {
                            "data": "ScholarshipDetailID",
                            "autowidth": false,
                            "render": function (data, type, row) {
                                Url = 'RemoveScholarship(' + data + ');';
                                return '<a id="btnRemove" onclick="' + Url + '"><span Class="glyphicon glyphicon-remove" title="' + '@Resources.Globalization.DeleteText' + '"/></a>'
                            }
                        },
                    ]
                });
            }
        });
    }

</script>

<table id="tblScholarshipDetails" class="table table-responsive table-hover" style="width:100%">
    <thead>
        <tr>
            <td>
                @Resources.Globalization.ScholarshipActionText
            </td>
            <td>
                @Resources.Globalization.FromDateText
            </td>
            <td>
                @Resources.Globalization.ScholarshipPeriodText
            </td>
            <td>
                @Resources.Globalization.ToDateText
            </td>          
            <td>
                @Resources.Globalization.NotesText
            </td>
            <td>
                @Resources.Globalization.CreatedByText
            </td>
            <td>
                @Resources.Globalization.CreatedDateText
            </td>
            <td></td>
            <td></td>
        </tr>
    </thead>
</table>
