@model HCM.Models.ScholarshipsViewModel
@using HCMBLL.Enums;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('.internalTraining').hide();
        $('.externalTraining').hide();
        //$('#txtVacationPeriod').prop('readonly', true);

        var ScholarshipTypeID = '@Model.ScholarshipType.ScholarshipTypeID';
        if (ScholarshipTypeID == '@Convert.ToInt32(ScholarshipsTypesEnum.Internal)') {
            $('.internalTraining').show();
            $('.externalTraining').hide();
        }
        else if (ScholarshipType == '@Convert.ToInt32(ScholarshipsTypesEnum.External)') {
            $('.internalTraining').hide();
            $('.externalTraining').show();
        }

    });

    function OkFunction() {
        var iframe = $("#divReportModal .modal-body #iframeReportContent");
        iframe.attr('src', '@Url.Content("~/Scholarships/PrintScholarship/")' + '@Model.ScholarshipID');
        ShowModal("#divReportModal");
    }

    function OnSuccess() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, HCM.Classes.Enums.ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.SavedDoneAlertText), "OkFunction")');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, HCM.Classes.Enums.ModalTypes.Failure, "Error")');
    }

</script>


<p style="font-size:larger">@Resources.Globalization.VacationEditText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                @Resources.Globalization.VacationEditDescText
            </div>
            <div class="col-md-3" style="text-align:left">
                @*@Html.Action("Index", "BusinessRules", new { id = (Int32)BusinessSubCategoriesEnum.Delegations })*@
            </div>
        </div>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Edit", "Scholarships", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            HttpMethod = "POST",
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Partial("~/Views/Scholarships/_Scholarships.cshtml", @Model)
        }
    </div>
</div>

