@using HCM.Classes.Enums
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnPreferencePromotionRecord").click(function () {
            var PromotionRecordID = $("#hdnFldPromotionRecordID").val() != '' ? $("#hdnFldPromotionRecordID").val() : 0;

            //console.log('PromotionRecordID', PromotionRecordID);

            $.confirm({
                confirmButton: '@Resources.Globalization.ConfirmButtonText',
                cancelButton: '@Resources.Globalization.CancelButtonText',
                animation: 'zoom',
                content: '@Resources.Globalization.PreferenceCofirmationMessageText',
                title: '@Resources.Globalization.CofirmationMessageTitle',
                buttons: {
                    confirm: {
                        action: function () {

                            var PreferenceRequestObj = {
                                PromotionRecordID: PromotionRecordID,
                                JobCategoryID: $('#hdnFldJobCategoryID').val() ,
                                RankID: $('#hdnFldRankID').val() ,
                            };

                            $.ajax({
                                type: "POST",
                                // dataType: "json"     :  if you pass 'dataType: "json"' then there is always parseerror from .ajax call and return type is 'HttpResponseMessage',
                                contentType: "application/json; charset=utf-8",
                                url: "/PromotionsRecords/Preference",
                                data: JSON.stringify(PreferenceRequestObj),
                                success: OnSuccessPreference,
                                error: function (xhr, status, error) {
                                    OnFailure();
                                }
                            });
                        },
                        btnClass: 'btn-blue',
                        text: '@Resources.Globalization.ConfirmButtonText',
                    },
                    cancel: {
                        action: function () { },
                        text: '@Resources.Globalization.CancelButtonText',
                    },
                },
            });
        });


        $("#btnPromotionRecordResetExamResult").click(function () {
            var PromotionRecordID = $("#hdnFldPromotionRecordID").val() != '' ? $("#hdnFldPromotionRecordID").val() : 0;
            $.confirm({
                confirmButton: '@Resources.Globalization.ConfirmButtonText',
                cancelButton: '@Resources.Globalization.CancelButtonText',
                animation: 'zoom',
                content: '@Resources.Globalization.ResetCofirmationMessageText',
                title: '@Resources.Globalization.CofirmationMessageTitle',
                buttons: {
                    confirm: {
                        action: function () {
                            $.ajax({
                                type: "post"
                               , dataType: "json"
                               , url: "/PromotionsRecords/ResetByExamResults/" + PromotionRecordID
                               , success: function (d) {
                                   $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.SavedDoneAlertText), "")');                                   
                               }
                               , error: function (xhr, status, error) {
                                   OnFailure();
                               }
                            });
                        },
                        btnClass: 'btn-blue',
                        text: '@Resources.Globalization.ConfirmButtonText',
                    },
                    cancel: {
                        action: function () { },
                        text: '@Resources.Globalization.CancelButtonText',
                    },
                },
            });
        });


    });

    function OnSuccessPreference(d) {

        //console.log('d', d);

        $("#divAlert").load('@RazorHelper.ShowAlert(this, HCM.Classes.Enums.ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.PreferenceDoneAlertText), "")');
        $('#hdnFldPromotionRecordStatusID').val(d.PromotionRecordStatus.PromotionRecordStatusID);
        $('#txtPromotionRecordStatusName').val(d.PromotionRecordStatus.PromotionRecordStatusName);
        $('#hdnFldPromotionRecordToolbarID').val(d.PromotionRecordToolbarID);

        RenderPromotionRecordStatus();  // function defined in _promotionsRecordsStatus.cshtml
        BindCandidates();               // function defined in Manage.cshtml
        $("#divToolbar").load('@RazorHelper.ShowPormotionToolbar(this, HCM.Classes.Enums.PromotionsRecordsToolbarEnum.Install)', AppendToolbar);
    }

</script>

<div id="divPreference" class="btn-group">
    @Html.Partial("~/Views/PromotionsRecords/_OpenedToolbar.cshtml")
    @Html.Partial("~/Views/PromotionsRecords/_EditPromotionRecordQualificationPoints.cshtml")
    <button id="btnPromotionRecordResetExamResult" class="btn btn-default" type="button" title="@Resources.Globalization.PromotionRecordResetExamResultTooltipText">
        <span class="glyphicon glyphicon-remove"></span>
        @Resources.Globalization.PromotionRecordResetExamResultText
    </button>
    <button id="btnPreferencePromotionRecord" class="btn btn-default" type="button" title="@Resources.Globalization.PromotionRecordPreferencesText">
        <span class="glyphicon glyphicon-filter"></span>
        @Resources.Globalization.PromotionRecordPreferencesText
    </button>
</div>

