@using HCM.Classes.Enums
<link href="~/Content/font-awesome-5.7/css/all.min.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnNextAfterUserName").click(function () {
            var txtUserNameToResetPassword = $("#txtUserNameToResetPassword").val();
            if (txtUserNameToResetPassword == '')
                $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure,Globals.Utilities.RemoveSpace(@Resources.Globalization.EnterYourEmployeeCodeNoText))');
            else {
                  $.ajax({
                    type: "GET"
                    , contentType: "application/json; charset=utf-8"
                    , url: "@Url.Content("~/Account/SendingOTPToValidateUser/")" + txtUserNameToResetPassword
                    , success: function (data) {
                        if (data.data != null) {
                            $("#hdnFldUserID").val(data.data.User.UserID);
                            $("#txtEmployeeCodeNo").val(data.data.User.Employee.EmployeeCompNo);
                            $("#txtEmployeeName").val(data.data.User.Employee.EmployeeName);
                            $("#txtEmployeeMobileNo").val(data.data.User.Employee.EmployeeMobileNo.substring(5,9) + "******");
                            $("#divEnterUserName").animate({ right: "-878px" }, 1000);
                            $("#divEnterOTP").show();
                            $("#divEnterOTP").animate({ right: "-0px" }, 1000);
                            $("#iUserIdentity").removeClass().addClass("fa fa-check");
                            $("#spanUserIdentity").removeClass().addClass("done");
                            $("#iUserIdentityVerify").addClass("fa fa-spinner");
                            $("#spanUserIdentityVerify").addClass("processing");
                        }
                        else {
                             $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure,Globals.Utilities.RemoveSpace(@Resources.Globalization.NoUserExistsWithThisCodeNoText))');
                        }
                    }
                , error: OnFailureChangePassword
                });
            }
        });

        $("#btnAfterOTP").click(function () {
            var txtOTP = $("#txtOTP").val();
            if (txtOTP == '')
                $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure,Globals.Utilities.RemoveSpace(@Resources.Globalization.EnterOTPText))');
            else {
                $.ajax({
                type: "GET"
                , contentType: "application/json; charset=utf-8"
                , url: "@Url.Content("~/Account/ValidateOTP/")" + txtOTP
                , success: function (data) {
                    if (data.data == true) {
                        $("#divEnterOTP").animate({ right: "-878px" }, 1000);
                        $("#divEnterNewPassword").show();
                        $("#divEnterNewPassword").animate({ right: "-0px" }, 1000);
                        $("#iUserIdentityVerify").removeClass().addClass("fa fa-check");
                        $("#spanUserIdentityVerify").removeClass().addClass("done");
                        $("#iResetPassword").addClass("fa fa-spinner");
                        $("#spanResetPassword").addClass("processing");
                    }
                    else {
                        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure,Globals.Utilities.RemoveSpace(@Resources.Globalization.WrongOTPText))');
                    }
                }
                , error: OnFailureChangePassword
                });
            }
        });

        $("#btnChangePassword").click(function () {
            var UserID = $("#hdnFldUserID").val();
            var Password = $("#txtNewPassword").val();
            var ConfirmPassword = $("#txtNewConfirmPassword").val();

            if (Password == '' || ConfirmPassword == '') {
                $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure,Globals.Utilities.RemoveSpace(@Resources.Globalization.RequiredPasswordAndConfirmPasswordText))');
            }
            else {
                 $.ajax({
                type: "POST"
                , contentType: "application/json; charset=utf-8"
                , url: "@Url.Content("~/Account/ResetPassword/")" + UserID + "/" + Password + "/" + ConfirmPassword
               // , data: JSON.stringify(ObjToPass)
                     , success: function () {
                    OnSuccessChangePassword();
                }
                , error: OnFailureChangePassword
            });
            }
        });

    });

    function OnSuccessChangePassword() {
        $("#iResetPassword").removeClass().addClass("fa fa-check");
        $("#spanResetPassword").removeClass().addClass("done");
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.ResetPasswordDoneText),"OkFunction")');
    }

    function OnFailureChangePassword() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure , "Error")');
    }

    function OkFunction() {
         DestroyModal("#divForgottenPasswordModal");
    }

    function ResetForgottenPasswordModal() {
        $("#txtUserNameToResetPassword").val('');
        $("#txtEmployeeCodeNo").val('');
        $("#txtEmployeeName").val('');
        $("#txtEmployeeMobileNo").val('');
        $("#txtOTP").val('');
        $("#txtNewPassword").val('');
        $("#txtNewConfirmPassword").val('');
        $("#divEnterUserName").animate({ right: "-0" },"fast");
        $("#divEnterNewPassword").hide();
        $("#divEnterNewPassword").animate({ right: "878px" });
        $("#divEnterOTP").hide();
        $("#divEnterOTP").animate({ right: "878px" });
        $("#iUserIdentity").removeClass().addClass("fa fa-spinner");
        $("#spanUserIdentity").removeClass().addClass("processing");
        $("#iUserIdentityVerify").removeClass();
        $("#spanUserIdentityVerify").removeClass();
        $("#iResetPassword").removeClass();
        $("#spanResetPassword").removeClass();
    }

</script>

<div class="modal fade" id="divForgottenPasswordModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2d3e50;color:white">
                <div style="float:left">
                    <button data-dismiss="modal" class="close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    @Resources.Globalization.ForgottenPasswordText
                </div>
            </div>
            <div class="modal-body" style="height:420px;overflow:hidden;">
                <div>
                    <div class="row" style="padding-bottom:10px;">
                        <section class="section">
                            <ul id="ulResetPasswordReset" class="breadcrumb">
                                <li><span id="spanUserIdentity"><i id="iUserIdentity"></i> @Resources.Globalization.UserIdentityText </span></li>
                                <li><span id="spanUserIdentityVerify"><i id="iUserIdentityVerify"></i> @Resources.Globalization.UserIdentityVerifyText </span></li>
                                <li><span id="spanResetPassword"><i id="iResetPassword"></i> @Resources.Globalization.ResetPasswordText </span></li>
                            </ul>
                        </section>
                    </div>

                    <div class="row">

                        <div id="divEnterUserName" class="panel panel-default">
                            <div class="panel-heading">
                                @Resources.Globalization.EnterYourEmployeeCodeNoText
                            </div>
                            <div class="panel panel-body">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>@Resources.Globalization.EmployeeCodeNoText</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input id="txtUserNameToResetPassword" type="text" class="form-control" max="8" maxlength="8" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <center>
                                                    <input type="submit" id="btnNextAfterUserName" class="btn btn-default" value="@Resources.Globalization.NextText" />
                                                </center>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div id="divEnterOTP" class="panel panel-default" hidden>
                            <div class="panel-heading">
                                @Resources.Globalization.EnterOTPText
                            </div>
                            <div class="panel panel-body">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>@Resources.Globalization.EmployeeCodeNoText</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="txtEmployeeCodeNo" readonly />
                                                    <input type="hidden" class="form-control" id="hdnFldUserID" readonly />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>@Resources.Globalization.EmployeeNameArText</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="txtEmployeeName" readonly />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>@Resources.Globalization.EmployeeMobileNoText</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="txtEmployeeMobileNo" readonly />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>@Resources.Globalization.OTPText</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input id="txtOTP" type="number" class="form-control" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <center>
                                                    <input type="submit" id="btnAfterOTP" class="btn btn-default" value="@Resources.Globalization.NextText" />
                                                </center>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div id="divEnterNewPassword" class="panel panel-default" hidden>
                            <div class="panel-heading">
                                @Resources.Globalization.EnterYourNewPasswordText
                            </div>
                            <div class="panel panel-body">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>
                                            <div class="alert alert-info col-md-12">
                                                @Resources.Globalization.PasswordPolicyText
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>@Resources.Globalization.PasswordText</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="password" class="form-control" id="txtNewPassword" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>@Resources.Globalization.ConfirmPasswordText</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="password" class="form-control" id="txtNewConfirmPassword" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <center>
                                                    <input type="submit" id="btnChangePassword" class="btn btn-default" value="@Resources.Globalization.SaveText" />
                                                </center>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin:0">
                <button class="btn btn-default" data-dismiss="modal">@Resources.Globalization.CloseText</button>
            </div>
        </div>
    </div>
</div>


