@model HCM.Models.EmployeesViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.DeleteAssigningText;
}
<script type="text/javascript">

    function OkFunction() {
        window.location.href = "/Employees/Index";
    }

    $(document).ready(function () {
        $("#BtnDelete").confirm({
            animation: 'zoom',
            content: '@Resources.Globalization.DeleteCofirmationMessageText',
            title: '@Resources.Globalization.CofirmationMessageTitle',
            buttons: {
                confirm: {
                    action: function () { $("#BtnDelete").submit(); },
                    btnClass: 'btn-blue',
                    text: '@Resources.Globalization.ConfirmButtonText',
                },
                cancel: {
                    action: function () { },
                    text: '@Resources.Globalization.CancelButtonText',
                },
            },
        });



    });

    function OnSuccess() {
        $("#BtnDelete").attr("disabled", "disabled");
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.DeletedDoneAlertText))');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

</script>
<p style="font-size:larger">@Resources.Globalization.DeleteEmployeeText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        @Resources.Globalization.DeleteEmployeeDescText
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Delete", "Employees", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "DELETE",
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EmployeeID)
            <table id="tblEmployeeProfile" class="table table-responsive table-hover">
                <tbody>
                    <tr>
                        <td class="col-md-2">@Html.LabelFor(c => c.EmployeeIDNo)</td>
                        <td>@Html.LabelFor(c => c.EmployeeNameAr)</td>
                        <td>@Html.LabelFor(c => c.EmployeeNameEn)</td>@*No EmployeeNameEn Found In ViewModel*@
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(c => c.EmployeeIDNo, new { @class = "form-control" })</td>
                        <td>@Html.DisplayFor(c => c.EmployeeNameAr, new { @class = "form-control col-md-12" })</td>
                        <td>@Html.DisplayFor(c => c.EmployeeNameEn, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.EmployeeBirthDate)@*No EmployeeBirthDate Found In ViewModel*@
                        <td>@Html.LabelFor(c => c.EmployeeBirthPlace)</td>@*No EmployeeBirthPlace Found In ViewModel*@
                        <td>@Html.LabelFor(c => c.EmployeeMobileNo)</td>@*No EmployeeMobileNo Found In ViewModel*@
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.EmployeeBirthDate)
                        </td>
                        <td>@Html.DisplayFor(c => c.EmployeeBirthPlace, new { @class = "form-control" })</td>
                        <td>@Html.DisplayFor(c => c.EmployeeMobileNo, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.EmployeePassportNo)</td>@*No EmployeePassportNo Found In ViewModel*@
                        <td>@Html.LabelFor(c => c.EmployeeEMail)</td>@*No EmployeeEMail Found In ViewModel*@
                        <td>@Html.LabelFor(c => c.EmployeeIDIssueDate)</td>@*No EmployeeIDIssueDate Found In ViewModel*@
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(c => c.EmployeePassportNo, new { @class = "form-control" })</td>
                        <td>@Html.DisplayFor(c => c.EmployeeEMail, new { @class = "form-control" })</td>
                        <td>
                            @Html.DisplayFor(model => model.EmployeeIDIssueDate, new { @class = "TxtHijriPicker form-control", @id = "txtEmployeeIDIssueDate", @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(c => c.EmployeePassportSource)</td>@*No EmployeePassportSource Found In ViewModel*@
                        <td>@Html.LabelFor(c => c.EmployeePassportIssueDate)</td>@*No EmployeePassportIssueDate Found In ViewModel*@
                        <td>@Html.LabelFor(c => c.EmployeePassportEndDate)</td>@*No EmployeePassportEndDate Found In ViewModel*@
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(c => c.EmployeePassportSource, new { @class = "form-control" })</td>
                        <td>
                            @Html.DisplayFor(model => model.EmployeePassportIssueDate, new { @class = "TxtHijriPicker form-control", @id = "txtEmployeePassportIssueDate", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EmployeePassportEndDate, new { @class = "TxtHijriPicker form-control", @id = "txtEmployeePassportEndDate", @readonly = "readonly" })
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" id="BtnDelete" name="BtnDelete" value="@Resources.Globalization.DeleteText" />
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Index", "Employees"))
        {
            <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@