@model HCM.Models.EmployeesUpdateViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models
@using HCM.Classes.Extensions

@{
    ViewBag.Title = Resources.Globalization.EditEmployeeMobileNoText;
}

<script type="text/javascript">

    $(document).ready(function () {

        extentedFuncForEmployeePopup = "GetCurrentMobileNo";
        extentedFuncForEmployeePopupReset = "Reset";

        $("#btnUpdateMobileNo").click(function () {
            var EmployeesUpdateVM =
            {
                MobileOTP: $('#txtMobileOTP').val(),
                NewMobileNo: $('#txtNewMobileNo').val(),
                EmployeeCodeID: $('#hdnFldEmployeeCodeID').val(),
                EmployeeIDNo: $("#txtEmployeeIDNo").val(),
            };

            $.ajax({
                type: "POST"
                //, dataType: "json"     :  if you pass 'dataType: "json"' then there is always parseerror from .ajax call and return type is 'HttpResponseMessage'
                , contentType: "application/json; charset=utf-8"
                , url: "@Url.Content("~/Employees/UpdateMobileNo")"
                , data: JSON.stringify(EmployeesUpdateVM)
                , success: function () {
                    DestroyModal("#divVerificationCodeModal");
                    $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.SavedDoneAlertText))');
                    Reset();
                }
                , error: function (xhr, status, error) {
                    $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
                }
            });

        });

    });

    function OK2() {
        GetCurrentMobileNo($('#hdnFldEmployeeCodeID').val());
    }

    function OnSuccess() {
        ShowModal("#divVerificationCodeModal");
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

    //theProperty = (function (old) {
    //    function extendsInit() {
    //        old();
    //        alert('hi');
    //    }
    //    return extendsInit;
    //})(theProperty);

    //function closeEmployeesPopup(EmployeeCodeID) {
    //    GetEmployeeData(EmployeeCodeID);
    //    GetCurrentMobileNo(EmployeeCodeID);
    //}

    function GetCurrentMobileNo(EmployeeCodeID) {
         
        EmployeeCodeID = $('#hdnFldEmployeeCodeID').val();

        $.ajax({
            type: "POST"
       , dataType: "json"
       , contentType: "application/json; charset=utf-8"
       , url: "/Employees/GetByEmployeeCodeID"
       , data: "{ 'id' : '" + EmployeeCodeID + "'}"
       , success: function (d) {
           $("#txtMobileNo").val(d.data.Employee.EmployeeMobileNo);
       }
       , error: function (xhr, status, error) {
           alert(error.message);
       }
        });
    }

    function Reset() {
        //ResetEmployee();
        $("#txtMobileNo").val('');
        $("#txtNewMobileNo").val('');
        $("#txtMobileOTP").val('');
    }
</script>

<p style="font-size:larger">@Resources.Globalization.EditEmployeeMobileNoText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                @Resources.Globalization.EditEmployeeMobileNoDescText
            </div>
        </div>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("SendOTP", "Employees", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            HttpMethod = "POST",
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <span class="control-label">@Resources.Globalization.EmployeesText</span>
            @Html.Partial("~/Views/Shared/_EmployeesPopup.cshtml", new EmployeesViewModel())
            <table class="table table-responsive table-condensed table-striped">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            @Html.LabelFor(model => model.MobileNo, new { @class = "control-label" })
                        </td>
                        <td class="col-md-4">
                            @Html.LabelFor(model => model.NewMobileNo, new { @class = "control-label" })
                        </td>
                        <td class="col-md-4"></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", @id = "txtMobileNo", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.NewMobileNo, new { @class = "form-control", @id = "txtNewMobileNo", @maxlength = "10", @size = "10", @title = @Resources.Globalization.MobileNoPatternTooltip })
                            @Html.ValidationMessageFor(model => model.NewMobileNo, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" name="BtnSave" value="@Resources.Globalization.SaveText" />
                                <input type="reset" class="btn btn-default" value="@Resources.Globalization.ResetText" />
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Index", "Employees"))
        {
            <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>
<div class="modal fade" id="divVerificationCodeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2d3e50;color:white">
                <span class="control-label">@Resources.Globalization.EditEmployeeMobileNoText</span>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <span class="control-label">@Resources.Globalization.MobileOTPDescText</span>
                </div>
                <div class="panel panel-default" style="background-color: #F5F5F5">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.MobileOTP, new { @class = "control-label" })
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.MobileOTP, new { @class = "form-control", @id = "txtMobileOTP", @maxlength = "5", @size = "5" })
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-md-12">

                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin:0">
                <input type="submit" class="btn btn-default" id="btnUpdateMobileNo" value="@Resources.Globalization.ConfirmButtonText" />
                <button class="btn btn-default" data-dismiss="modal">@Resources.Globalization.CloseText</button>
            </div>
        </div>
    </div>
</div>



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

