@model HCM.Models.InternshipScholarshipsViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
            $("#divAlert").load('@Url.Content("~/Modal/Index/" +  HCM.Classes.Enums.ModalTypes.Failure + "/Error")');
        }

        BindInternshipScholarshipsDetails();

        $("#OpenInternshipScholarshipsDetailsPopup").click(function () {
            ShowModal("#divInternshipScholarshipsDetailsModal");
        });
    });

    function BindInternshipScholarshipsDetails() {
        $("#tblInternshipScholarshipsDetails").DataTable({
            "ajax": {
                "url": "/InternshipScholarships/GetInternshipScholarshipDetails",
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "EmployeeCodeNo",
                    "autowidth": true
                },
                {
                    "data": "EmployeeNameAr",
                    "autowidth": true
                },
                {
                    "data": "InternshipScholarshipID",
                    "autowidth": true,
                },
                {
                    "data": "InternshipScholarshipTypeName",
                    "autowidth": true,
                },
                {
                    "data": "InternshipScholarshipStartDate",
                    "autowidth": true,
                    "render": RenderDate
                },
                {
                    "data": "InternshipScholarshipEndDate",
                    "autowidth": true,
                    "render": RenderDate
                },
                {
                    "data": "InternshipScholarshipDetailID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        return '<a onClick="closeInternshipScholarshipsDetailsPopup(' +
                                                data + ', ' +
                                                row.InternshipScholarshipStartDate.replace(/\/Date\((.*?)\)\//gi, "$1") + ', ' +
                                                row.InternshipScholarshipEndDate.replace(/\/Date\((.*?)\)\//gi, "$1") + ', ' +
                                                '\'' + row.InternshipScholarshipReason + '\'' + ', ' +
                                                '\'' + row.EmployeeCodeNo + '\'' + ', ' +
                                                '\'' + row.EmployeeNameAr + '\'' + ', ' +
                                                '\'' + row.EmployeeCodeID + '\'' + ', ' +
                                                '\'' + row.EmployeeIDNo + '\'' + ', ' +
                                                '\'' + row.InternshipScholarshipTypeName + '\'' +
                                                ')"><span class="glyphicon glyphicon-thumbs-up" /></a>'
                    }
                },
            ]
        });
    }

    function closeInternshipScholarshipsDetailsPopup(InternshipScholarshipDetailID,
                                                     InternshipScholarshipStartDate,
                                                     InternshipScholarshipEndDate,
                                                     InternshipScholarshipReason,
                                                     EmployeeCodeNo,
                                                     EmployeeNameAr,
                                                     EmployeeCodeID,
                                                     EmployeeIDNo,
                                                     InternshipScholarshipsTypeName
                                                     ) {
        $("#hdnFldInternshipScholarshipDetailID").val(InternshipScholarshipDetailID);
        $("#txtInternshipScholarshipType").val(InternshipScholarshipsTypeName);
        $("#txtInternshipScholarshipStartDate").val(RenderDate(InternshipScholarshipStartDate));
        $("#txtInternshipScholarshipEndDate").val(RenderDate(InternshipScholarshipEndDate));
        $("#txtInternshipScholarshipReason").val(InternshipScholarshipReason);
        $("#txtInternshipScholarshipEmployeeCodeNo").val(EmployeeCodeNo);
        $("#txtInternshipScholarshipEmployeeNameAr").val(EmployeeNameAr);
        $("#txtInternshipScholarshipEmployeeIDNo").val(EmployeeIDNo);
        
        getEmployeeOtherDetails(EmployeeCodeID);

        DestroyModal("#divInternshipScholarshipsDetailsModal");
    }

</script>

<table class="table table-responsive table-condensed table-striped" style="text-align:right">
    <tr>
        <td class="col-md-4">
            <label class="control-label">@Resources.Globalization.EmployeeCodeNoText</label>
        </td>
        <td class="col-md-4">
            <label class="control-label">@Resources.Globalization.EmployeeNameArText</label>
        </td>
        <td class="col-md-4">
            <label class="control-label">@Resources.Globalization.EmployeeIDNoText</label>
        </td>
    </tr>
    <tr>
        <td class="col-md-4">
            <div class="input-group" style="width:100%">
                @Html.TextBoxFor(model => model.InternshipScholarshipDetailRequest.EmployeeCareerHistory.EmployeeCode.EmployeeCodeNo, new { @class = "form-control", @id = "txtInternshipScholarshipEmployeeCodeNo", @readonly = "readonly" })
                <span id="OpenInternshipScholarshipsDetailsPopup" class="input-group-addon clickable" title="@Resources.Globalization.SearchAboutInternshipScholarshipsTooltip">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
            @Html.HiddenFor(model => model.InternshipScholarshipDetailRequest.InternshipScholarshipDetailID, new { @id = "hdnFldInternshipScholarshipDetailID" })
        </td>
        <td class="col-md-4">
            @Html.TextBoxFor(model => model.InternshipScholarshipDetailRequest.EmployeeCareerHistory.EmployeeCode.Employee.EmployeeNameAr, new { @class = "form-control", @id = "txtInternshipScholarshipEmployeeNameAr", @readonly = "readonly" })
        </td>
        <td class="col-md-4">
            @Html.TextBoxFor(model => model.InternshipScholarshipDetailRequest.EmployeeCareerHistory.EmployeeCode.Employee.EmployeeIDNo, new { @class = "form-control", @id = "txtInternshipScholarshipEmployeeIDNo", @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td class="col-md-4">
            @Html.LabelFor(model => Model.InternshipScholarshipType)
        </td>
        <td class="col-md-4"></td>
        <td class="col-md-4"></td>
    </tr>
    <tr>
        <td class="col-md-4">
            @Html.TextBoxFor(model => Model.InternshipScholarshipType.InternshipScholarshipTypeName, new { @class = "form-control", @id = "txtInternshipScholarshipType", @readonly = "readonly" })
        </td>
        <td class="col-md-4"></td>
        <td class="col-md-4"></td>
    </tr>
    <tr>
        <td class="col-md-4">
            @Html.LabelFor(model => Model.InternshipScholarshipStartDate)
        </td>
        <td class="col-md-4">
            @Html.LabelFor(model => Model.InternshipScholarshipEndDate)
        </td>
        <td class="col-md-4">
            @Html.LabelFor(model => Model.InternshipScholarshipReason)
        </td>
    </tr>
    <tr>
        <td class="col-md-4">
            @Html.TextBoxFor(model => model.InternshipScholarshipStartDate, new
       {
           @class = "form-control",
           @id = "txtInternshipScholarshipStartDate",
           @readonly = "readonly",
           @Value = @Model.InternshipScholarshipDetailRequest != null ? Model.InternshipScholarshipStartDate.ToString(@System.Configuration.ConfigurationManager.AppSettings["DateFormat"]) : ""
       })
        </td>
        <td class="col-md-4">
            @Html.TextBoxFor(model => model.InternshipScholarshipEndDate, new
       {
           @class = "form-control",
           @id = "txtInternshipScholarshipEndDate",
           @readonly = "readonly",
           @Value = @Model.InternshipScholarshipDetailRequest != null ? Model.InternshipScholarshipEndDate.ToString(@System.Configuration.ConfigurationManager.AppSettings["DateFormat"]) : ""
       })
        </td>
        <td class="col-md-4">
            @Html.TextBoxFor(model => model.InternshipScholarshipReason, new { @class = "form-control", @id = "txtInternshipScholarshipReason", @readonly = "readonly" })
        </td>
    </tr>
</table>

<div class="modal fade" id="divInternshipScholarshipsDetailsModal">
    <div class="modal-dialog" style="width:auto">
        <div class="modal-content">
            <div class="modal-header">
                <div style="float:left">
                    <button data-dismiss="modal" class="close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    @Resources.Globalization.InternshipScholarshipsDetailsListText
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            @Resources.Globalization.InternshipScholarshipsDetailsPopupDescText
                        </div>
                    </div>
                </div>
                <table id="tblInternshipScholarshipsDetails" class="table table-responsive table-hover dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <td>@Resources.Globalization.EmployeeCodeNoText</td>
                            <td>@Resources.Globalization.EmployeeNameArText</td>
                            <td>@Resources.Globalization.SequenceNoText</td>
                            <td>@Resources.Globalization.InternshipScholarshipTypeText</td>
                            <td>@Resources.Globalization.InternshipScholarshipStartDateText</td>
                            <td>@Resources.Globalization.InternshipScholarshipEndDateText</td>
                            <td>@Resources.Globalization.SelectText</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer" style="margin:0">
                <button class="btn btn-default" data-dismiss="modal">@Resources.Globalization.CloseText</button>
            </div>
        </div>
    </div>
</div>