@{
    ViewBag.Title = @Resources.Globalization.EmployeesAllowancesText;
}

<p>
    @Html.ActionLink(@Resources.Globalization.CreateNewText, "Create")
</p>

<script>

    $(document).ready(function () {

        $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
            console.log(message);
            $("#divAlert").load('@Url.Content("~/Modal/Index/" +  HCM.Classes.Enums.ModalTypes.Failure + "/Error")');
        }

        $("#tblEmployeesAllowances").DataTable({
            //"destroy":true,
            "ajax": {
                "url": "/EmployeesAllowances/GetEmployeesAllowances",
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "EmployeeAllowanceID",
                    "autowidth": true
                },
                {
                    "data": "EmployeeCareerHistory.EmployeeCode.EmployeeCodeNo",
                    "autowidth": true
                },
                {
                    "data": "EmployeeCareerHistory.EmployeeCode.Employee.EmployeeNameAr",
                    "autowidth": true
                },
                {
                    "data": "Allowance.AllowanceName",
                    "autowidth": true
                },
                {
                    "data": "EmployeeCareerHistory.OrganizationJob.Job.JobName",
                    "autowidth": true
                },
                {
                    "data": "AllowanceStartDate",
                    "autowidth": true,
                    "render": RenderDate
                },
                {
                    "data": "IsActive",
                    "autowidth": true,
                    "render": RenderCheckBox
                },
                {
                    "data": "EmployeeAllowanceID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Details", "EmployeesAllowances")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-info-sign" title="' + '@Resources.Globalization.DetailsText' + '"/></a>'
                    }
                },
                {
                    "data": "EmployeeAllowanceID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Edit", "EmployeesAllowances")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-edit" title="' + '@Resources.Globalization.UpdatingText' + '"/></a>'
                    }
                },
                {
                    "data": "EmployeeAllowanceID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = '@Url.Action("Delete", "EmployeesAllowances")' + "/" + data;
                        return '<a href="' + Url + '"><span Class="glyphicon glyphicon-remove"  title="' + '@Resources.Globalization.DeleteText' + '"/></a>'
                    }
                },
                {
                    "data": "EmployeeAllowanceID",
                    "autowidth": true,
                    "render": function (data, type, row) {
                        Url = 'PrintEmployeeAllowance(' + data + ');';
                        return '<a onclick="' + Url + '"><span Class="glyphicon glyphicon-print"  title="' + '@Resources.Globalization.PrintText' + '"/></a>'
                    }
                },
            ]
        });
    });

    function PrintEmployeeAllowance(EmployeeAllowanceID) {
        var iframe = $("#divReportModal .modal-body #iframeReportContent");
        iframe.attr('src', '@Url.Content("~/EmployeesAllowances/PrintEmployeeAllowance/")' + EmployeeAllowanceID);
        ShowModal("#divReportModal");
    }
</script>

<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading ">
        @Resources.Globalization.SearchEmployeeAllownacesDescText
    </div>
    <div class="panel-body">
        <table id="tblEmployeesAllowances" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <td>@Resources.Globalization.SequenceNoText</td>
                    <td>@Resources.Globalization.EmployeeCodeNoText</td>
                    <td>@Resources.Globalization.EmployeeNameArText</td>
                    <td>@Resources.Globalization.AllowanceNameText</td>
                    <td>@Resources.Globalization.JobNameText</td>
                    <td>@Resources.Globalization.AllowanceStartDateText</td>
                    <td>@Resources.Globalization.IsActiveText</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>
