@model HCM.Models.EmployeesOldJobsViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.DeleteEmployeeOldJobText;
}
<script type="text/javascript">

    function OkFunction() {
        window.location.href = "/EmployeesOldJobs/Index";
    }

    $(document).ready(function () { 
        $("#BtnDelete").confirm({
            animation: 'zoom',
            content: '@Resources.Globalization.DeleteCofirmationMessageText',
            title: '@Resources.Globalization.CofirmationMessageTitle',
            buttons: {
                confirm: {
                    action: function () { $("#BtnDelete").submit(); },
                    btnClass: 'btn-blue',
                    text: '@Resources.Globalization.ConfirmButtonText',
                },
                cancel: {
                    action: function () { },
                    text: '@Resources.Globalization.CancelButtonText',
                },
            },
        });

         
    });

    function OnSuccess() {
        $("#BtnDelete").attr("disabled", "disabled");
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.DeletedDoneAlertText),"OkFunction")');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }

</script>
<p style="font-size:larger">@Resources.Globalization.DeleteEmployeeOldJobText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        @Resources.Globalization.DeleteEmployeeOldJobDescText
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Delete", "EmployeesOldJobs", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "DELETE",
        }))
        {
            @Html.AntiForgeryToken()
            <span class="control-label">@Resources.Globalization.EmployeeOldJobBasicInfoText</span>
            <br>
            <br>
            <span class="control-label">@Resources.Globalization.EmployeesText</span>
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.Label(@Resources.Globalization.EmployeeCodeNoText, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.EmployeeCode.EmployeeCodeNo)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.Label(@Resources.Globalization.EmployeeNameArText, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.EmployeeCode.Employee.EmployeeNameAr)
                        </td>
                    </tr>
                </tbody>
            </table>

            <span class="control-label">@Resources.Globalization.EmployeeOldJobText</span>
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.JobName)
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.JobName)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.OrganizationName)
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.OrganizationName)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.RankName)
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.RankName)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.CareerDegreeName, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.CareerDegreeName)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.EmployeeOldJobStartDate, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.EmployeeOldJobStartDate, new
                                                                                {
                                                                                    @Value = Model.EmployeeOldJobStartDate.ToString(@System.Configuration.ConfigurationManager.AppSettings["DateFormat"])
                                                                                })
                            @Html.HiddenFor(model => model.EmployeeOldJobID)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.EmployeeOldJobEndDate, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.EmployeeOldJobEndDate, new
                                                                                {
                                                                                    @Value = Model.EmployeeOldJobEndDate.ToString(@System.Configuration.ConfigurationManager.AppSettings["DateFormat"])
                                                                                })
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.CreatedBy)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label" })
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </td>
                    </tr>

                </tbody>
            </table>


            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" id="BtnDelete" name="BtnDelete" value="@Resources.Globalization.DeleteText" />
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Index", "EmployeesOldJobs"))
        {
            <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
