@model HCM.Models.CountriesViewModel
@using HCM.Classes.Enums
@using HCMBLL.Enums
@using HCM.Models

@{
    ViewBag.Title = Resources.Globalization.DeleteCountryText;
}
<script type="text/javascript">

    function OkFunction() {
        window.location.href = "/Countries/Index";
    }

    $(document).ready(function () {

        $("#BtnDelete").confirm({
            animation: 'zoom',
            content: '@Resources.Globalization.DeleteCofirmationMessageText',
            title: '@Resources.Globalization.CofirmationMessageTitle',
            buttons: {
                confirm: {
                    action: function () { $("#BtnDelete").submit(); },
                    btnClass: 'btn-blue',
                    text: '@Resources.Globalization.ConfirmButtonText',
                },
                cancel: {
                    action: function () { },
                    text: '@Resources.Globalization.CancelButtonText',
                },
            },
        });

    });

    function OnSuccess() {
        $("#BtnDelete").attr("disabled", "disabled");
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Success, Globals.Utilities.RemoveSpace(@Resources.Globalization.DeletedDoneAlertText),"OkFunction")');
    }

    function OnFailure() {
        $("#divAlert").load('@RazorHelper.ShowAlert(this, ModalTypes.Failure, "Error")');
    }
</script>
<p style="font-size:larger">@Resources.Globalization.DeleteCountryText</p>
<div class="panel panel-default" style="padding:0px">
    <div class="panel-heading">
        @Resources.Globalization.DeleteCountryDescText
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Delete", "Countries", new AjaxOptions()
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "DELETE",
        }))
        {
            @Html.AntiForgeryToken()
            <span class="control-label">@Resources.Globalization.CountryBasicInfoText</span>
            <table class="table table-responsive table-condensed">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            @Html.LabelFor(model => model.CountryName, new { @class = "control-label" })
                            @Html.HiddenFor(model => model.CountryID)
                        </td>
                        <td class="col-md-10">
                            @Html.DisplayFor(model => model.CountryName)                            
                        </td>
                    </tr> 
                </tbody>
            </table> 
            
            <table class="table table-responsive table-condensed">
                <tr>
                    <td>
                        <div class="form-group">
                            <center>
                                <input type="submit" class="btn btn-default" id="BtnDelete" name="BtnDelete" value="@Resources.Globalization.DeleteText" />
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("Index", "Countries"))
        {
            <input type="submit" class="btn btn-default" name="BtnBack" value="@Resources.Globalization.BacktoListText" />
        }
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
